{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column align-items-center">
  <h1>Welcome to your profile {{this_user.f_name}}</h1>
  <form action="/search_new_meal" class="form-group">
    <button type="submit" class="btn btn-info btn-block">
      New Meal Search
    </button>
  </form>
</div>
<div class="jumbotron d-flex justify-content-around align-items-center">
  <h1 class="display-4">{{user.f_name}} {{user.l_name}}</h1>
  {% if user.profile.all %}
  <div class="d-flex flex-column align-items-center">
    <p>Age: {{user.profile.first.age}}</p>
    <p>Location: {{user.profile.first.location}}</p>
    <p>Description: {{user.profile.first.desc}}</p>
    <p>Cooking Level: {{user.profile.first.cooking_level}}</p>
    <form action="/update_profile">
      <button class="btn btn-info">Update Profile</button>
    </form>
  </div>
  {% endif %} {% if not user.profile.all %}
  <form action="/create_profile">
    <button class="btn btn-info">Create Profile</button>
  </form>
  <br />
  {% endif %}
</div>
<h1>My Favorite Meals</h1>
<table class="table table-striped">
  <thead>
    <tr class="d-flex align-items-center">
      <th class="col-8">Meal Name</th>
      <th class="col-4">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for meal in meals %}
    <tr class="d-flex align-items-center">
      <td class="col-8 border-0">
        <a
          href="/recipe_info/{{ meal.meal_number }}"
          class="btn btn-outline-success"
          >{{ meal.name }}</a
        >
      </td>
      <td class="col-4 border-0">
        <a href="/remove_meal/{{ meal.id }}" class="btn btn-danger">Remove</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
