{% extends 'base.html' %} {% block content %}
    <h1>Create your Profile!</h1>
    <form action="/addUpdate" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="user" id="user" value="{{user.id}}">
        <label for="age">Age: </label>
        <input type="number" name="age" id="age" value="{{user_profile.age}}"> <br>
        <label for="location">Location: </label>
        <input type="text" name="location" id="location" value="{{user_profile.location}}"> <br>
        <label for="desc">Description: </label> <br>
        <textarea name="desc" id="desc" cols="30" rows="10">{{user_profile.desc}}</textarea> <br>
        <label for="cooking_level">Cooking Level: </label>
        <select name="cooking_level" id="cooking_level">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="chef">Chef</option>
        </select> <br>
        <button>Update</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}